/*GERAL*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Kdam+Thmor+Pro&family=Quicksand:wght@300&display=swap');

*{
    margin:0;

    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font-weight: bold;
}
    

    
body{
    justify-content: center;
    align-items: center;}
/*TABELA*/
    table{margin: 0 auto;}
th{
    background-color: rgb(0, 0, 0);
    border: 1px double black;
    padding: 8px;
    border-radius: 0px;
    color: white;}
td{
        background-color: rgb(203, 203, 203);
    border: 1px solid black;
    padding: 5px;
    border-radius: 0px;
    color: rgb(0, 0, 0);
    text-align: center;}
.cn{
    background-color: rgb(94, 180, 255);}
.ch{
    background-color: rgb(76, 184, 76);}
.lgg{
    background-color: rgb(255, 146, 235);}
.ti{
    background-color: rgb(88, 177, 255);}
.mat{
    background-color: rgb(88, 177, 255);}
.pa{
    background-color: rgb(88, 177, 255);}
.corpo-table{
    background-size: cover;
    height: 92vh;}
.sub{
    text-align: center;
}








